<launch>
    <master auto="start"/>
    <!-- params -->
    <!--<include file="$(find pedsim_simulator)/launch/start_simulation_maze_leadingrrt_norviz.launch"/>-->

    <!-- global goal related parameters -->
    <!-- goal point (goal_x,goal_y,goal_theta), -->
    <!--<param name="goal_x" value="44.5" type="double"/>-->
    <!--<param name="goal_y" value="36.50" type="double"/>-->
    <!--<param name="goal_theta" value="0.0" type="double"/>-->
    <!--<param name="goal_radius" value="3" type="double"/>-->


    <!--<node name="smap_tf_broadcaster" pkg="smap" type="dummy_transforms.py" respawn="false" output="log" />-->

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find smap)/smap.rviz"/>

    <!--<node pkg="smap" launch-prefix="xterm -e gdbserver localhost:10000" name="smap" type="smap" respawn="false" output="screen" required="true"/>-->
    <!-- <node pkg="smap" name="smap" type="smap" respawn="false" output="screen" required="true"/> -->
</launch>
